body{
	background: skyblue;
}
h1{
	color: white;
	font-family: cursive;
	font-style: italic;
	text-align: center;
}
p{
	color: indianred;
	font-family: cursive;
	font-style: italic;
	text-align: center;
}
img{
	height: 100px;
	width: 100px;
}
button{
	background-color: indianred;
	font-family: cursive;
	font-style: italic;
}